accelerate==0.31.0
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
datasets==2.20.0
huggingface-hub==0.23.4
numpy==1.26.3
omegaconf==2.3.0
openai-clip==1.0.1
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.3.0+cu118
transformers==4.41.2
xformers